@import "~react-image-gallery/styles/css/image-gallery.css";

body {
    margin: 0;
    font-family: 'Calibri';
    overflow-x: hidden;
}

.main {
    background-image: url('../assets/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 64px;
}

.main.home::before {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: -64px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.25);
}

.main .regulations {
    margin: 40px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}
.title {
    font-size: 96px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    width: 320px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.nav-navigation {
    position: absolute;
    z-index: 10;
}

.navigation-tabs {
    margin: 0;
    background: rgba(255, 255, 255, 0.75);
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-tabs li {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    font-weight: 600;
}

.navigation-tabs li a.active {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
    background: #90ee90;
    border-radius: 3px;
    padding: 10px;
}
.navigation-tabs li a {
    color: #000;
    text-decoration: none;
}

.footer {
    font-size: 13px;
    position: fixed;
    bottom: 0;
    text-align: right;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    padding: 6px;
}

.bm-item:focus {
    outline: none;
}

@media (max-width: 400px) {
    .title {
        font-size: 88px;
    }
}

@media (min-width: 701px) {
    .navigation-tabs li.hamburger {
      display: none;
    }
}

@media (max-width: 700px) {
    .navigation-tabs {
        background: transparent;
    }
    .navigation-tabs li:not(.hamburger) {
      display: none;
    }
}

