body {
    margin: 0;
    font-family: 'Calibri';
    overflow-x: hidden;
}

.main {
    background-color: #ddd;
    width: 100%;
    min-height: 100vh;
}

.regulations {
    width: 750px;
    height: 850px;
    background: #90ee90;
    opacity: .75;
    display: inline-block;
    position: absolute;
    transform: rotate(55deg);
    left: 75%;
}

.regulations::before {
    content: "";
    display: block;
    width: 150px;
    height: 250px;
    position: absolute;
    left: 300px;
    top: 300px;
    background: white;
    z-index: 1;
}

.regulations::after {
    content: "";
    display: block;
    width: 450px;
    height: 550px;
    position: absolute;
    left: 150px;
    top: 150px;
    background: #ffff94;
}

.navigation {
    background-image: url('../assets/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navigation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.25);
}

.title {
    font-size: 96px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.navigation-tabs {
    margin: 0;
    background: rgba(255, 255, 255, 0.75);
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
}

.navigation-tabs li {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    font-weight: 600;
}

.navigation-tabs li.active {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
    background: #90ee90;
    border-radius: 3px;
}

